
    .page{
        margin-top:3%;
        border: 0px;
        border-radius: 10px;
  
        border-style: solid;
        height: 85vh;
        background-color: #4abf60;
    }
    .header{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #eff3f6;
    }

    body{
        background-color: #a3fbbc;
    }
    .carousel .carousel-item {
  height: 500px;
}