@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #4abf60;
}

* {
  
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin-left: 3%;
    margin-right: 3%;
    margin-top:3%;
    border: 0px;
    border-radius: 10px;
    border-style: solid;
    height: 85vh;

    background-color: var(--color-primary);

}

a, a:hover {
  text-decoration: none;
  color: unset;
}